<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4UVFzt6VlfYT0P8AQCmLOEHRvrpjspGk</string>
	<key>GCM_SENDER_ID</key>
	<string>688773005235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.joluTrip</string>
	<key>PROJECT_ID</key>
	<string>jolu-trip-d529a</string>
	<key>STORAGE_BUCKET</key>
	<string>jolu-trip-d529a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688773005235:ios:8b227dfcb41a6720ab15c6</string>
</dict>
</plist>